@import '../../styles/variables';

.button {
  background-color: darken($purple, 10%);
  
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-family: $heading-font;
  padding: 10px 15px;
  text-decoration: none;

  &:hover {
    background-color: darken($purple, 5%);
  }

  &:active {
    background-color: $purple;
  }
}