@import '../../styles/variables';

.button {
  background-color: $orange;
  border: 1px solid $black;
  border-radius: 10px;
  color: $black;
  display: inline-block;
  font-family: $heading-font;
  padding: 10px 15px;
  text-decoration: none;

  &:hover {
    background-color: darken($orange, 5%);
  }

  &:active {
    background-color: darken($orange, 10%);
  }
}