@import '../../styles/mixins';

.contentBlock {
  @include md {
    flex-direction: row;

    &.imageLeft {
      flex-direction: row-reverse;
    }  
  }

  align-items: flex-end;
  display: flex;
  flex-direction: column;

  @import '../../styles/backgrounds';
}

.contentContainer {
  @include md {
    flex: 1;
    padding: 4rem;
  }

  padding: 3rem 2rem;
}

.content {
  max-width: 700px;
}

.imageContainer {
  @include md {
    align-self: stretch;
    width: 40%;
  }

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 600px;
  width: 100%;
}
