@import '../../styles/mixins';

.hero {
  background-color: #000;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;

  .title {
    @include sm {
      width: 750px;
    }

    margin: 0 auto;
    max-width: 90%;
  }

  .heroSubtitle {
    @include sm {
      font-size: 1.6rem;
      letter-spacing: 4px;
      line-height: 1;
    }

    @include md {
      font-size: 2.05rem;
      letter-spacing: 6px;
    }

    @include lg {
      font-size: 2.2rem;
      letter-spacing: 7px;
    }

    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
