// Hamburger variables
$hamburger-padding-y: 17.5px;
$hamburger-layer-color: currentColor;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;

@import './styles/hamburgers';

.hamburger {
  color: #fff;

  &.dark {
    color: #000;
  }
}
