// ----- Fonts -----
$heading-font: 'Roboto', Helvetica, sans-serif;
$body-font: 'Noto Serif SC', serif;

// ----- Colors -----
$black: #000;
$green: #84B351;
$grey: #56535E;
$orange: #FBA765;
$purple: #926BA6;
$red: #E47169;
$white: #FFF;
$yellow: #FEE89B;

// ----- Breakpoints -----
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
