@import '../../styles/mixins';

.navigation {
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  color: #000;
  display: flex;
  height: 85px;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  margin: 0;
  width: 100%;
  z-index: 1000;
}

.logoContainer {
  height: 80%;
}

.logo {
  height: 100%;
  width: auto;
}

.ctaButton {
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.3);
}