.divider {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    border-bottom: 7px solid black;
    content: '';
    position: absolute;
    top: 36px;
    left: 0;
    right: 140px;
  }
}

.bike {
  position: absolute;
  height: 20px;
  left: 0;
  top: 10px;
  width: auto;
}

.line {
  height: 60px;
  margin: 0 -10px;
  width: 156px;
}