@import '../../styles/mixins';

.mapBlock {
  @include sm {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 0;
}

.mapContainer {
  flex: 1.2;
}

.contentContainer {
  flex: 1;
  padding: 3rem 2rem;
}